{% extends 'base.html' %}

{% block title %}SKYPROGRAM{% endblock %}

{% block nav %}
    <a href="{{ url_for('posts_blueprint.page_index') }}" class="header__logo-link">
        <svg class="header__logo" width="177" height="26">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skyprogram"></use>
        </svg>
    </a>
    <a href="{{ url_for('bookmarks_blueprint.page_index') }}" class="header__bookmark-btn">
        <img src="{{ url_for('static', filename='img/bookmark.png') }}" alt="" class="header__bookmark-icon"
             width="28">
        <span class="header__bookmark-counter">{{ bookmarks }}</span>
    </a>
    <a href="{{ url_for('posts_blueprint.page_search') }}" class="header__logo-search">
        <img src="{{ url_for('static', filename='img/search_icon.svg') }}" alt="" class="header__search-icon"
             width="28">
    </a>
{% endblock %}

{% block content %}
    {% for item in items %}
        <div class="items__item item">
            <div class="item__top">
                <a href="{{ url_for('posts_blueprint.page_user_feed', username=item.poster_name) }}"
                   class="item__head">
                    <div class="item__ava-wrap">
                        <img src="{{ item.poster_avatar }}" alt="" class="item__ava" width="47">
                    </div>
                    <span class="item__username">{{ item.poster_name }}</span>
                </a>
            </div>
            <a href="{{ url_for('posts_blueprint.page_post', pk=item.pk) }}" class="item__post-link">
                <img src="{{ item.pic }}" alt="" width="348" class="item__post-img">
            </a>
            <p class="item__descr">{{ item.content[:50] }}...</p>
            <div class="item__post-info">
                <div class="item__counter">
                    <img src="{{ url_for('static', filename='img/eye.png') }}" alt="" class="item__counter-icon"
                         width="26">
                    <span class="item__counter-text">{{ item.views_count }}</span>
                </div>
                <div class="item__counter">
                    <img src="{{ url_for('static', filename='img/like_icon.svg') }}" alt="" class="item__counter-icon">
                    <span class="item__counter-text">{{ item.likes_count }}</span>
                </div>
            </div>
            <div class="item__post-bottom">
                <a href="{{ url_for('posts_blueprint.page_post', pk=item.pk) }}"
                   class="item__btn-more">Подробнее</a>
                <a class="item__bookmark-btn" href="{{ url_for('bookmarks_blueprint.page_add', post_id=item.pk) }}">
                    <img src="{{ url_for('static', filename='img/bookmark.png') }}" alt=""
                         class="item__bookmark-icon" width="24">
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}