{% extends 'base.html' %}

{% block title %}SKYPROGRAM post{% endblock %}

{% block nav %}
    <a href="{{ url_for('posts_blueprint.page_index') }}" class="header__btn-back">
        <svg class="header__btn-icon" width="19" height="16">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#back"></use>
        </svg>
    </a>
    <a href="{{ url_for('posts_blueprint.page_index') }}" class="header__logo-link">
        <svg class="header__logo" width="177" height="26">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skyprogram"></use>
        </svg>
    </a>
{% endblock %}

{% block content %}
    <div class="items__item item item--post">
        <div class="item__top">
            <a href="{{ url_for('posts_blueprint.page_user_feed', username=item.poster_name) }}" class="item__head">
                <div class="item__ava-wrap">
                    <img src="{{ item.poster_avatar }}" alt="" class="item__ava" width="47">
                </div>
                <span class="item__username">{{ item.poster_name }}</span>
            </a>
            <a class="item__bookmark-btn" href="{{ url_for('bookmarks_blueprint.page_add', post_id=item.pk) }}">
                <img src="{{ url_for('static', filename='img/bookmark.png') }}" alt=""
                     class="item__bookmark-icon" width="24">
            </a>
        </div>
        <a href="" class="item__post-link">
            <img src="{{ item.pic }}" alt="" width="348" class="item__post-img">
        </a>
        <div class="item__descr">
            <p class="item__text">
                {{ item.content }}
            </p>
        </div>
        <div class="item__bottom">
            <div class="item__post-info">
                <p class="item__comments-counter">{{ sub_items|length }} комментария</p>
                <div class="item__counter">
                    <img src="{{ url_for('static', filename='img/eye.png') }}" alt="" class="item__counter-icon"
                         width="26">
                    <span class="item__counter-text">{{ item.views_count }}</span>
                </div>
                <div class="item__counter">
                    <img src="{{ url_for('static', filename='img/like_icon.svg') }}" alt=""
                         class="item__counter-icon">
                    <span class="item__counter-text">{{ item.likes_count }}</span>
                </div>
            </div>
            <div class="item__comments">
                {% for item in sub_items %}
                    <p class="item__comment">
                        <b>{{ item.commenter_name }}:</b> {{ item.comment }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}